<footer class="footer">
    <div class="footer__container">
        <img src="./img/logo.png" alt="Лого-Котейка" class="footer__img">
        <nav class="footerMenu">
            <a href="" class="footerMenu__link">Почему мы?</a>
            <a href="" class="footerMenu__link">Номера</a>
            <a href="" class="footerMenu__link">Отзывы</a>
            <a href="" class="footerMenu__link">Как нас найти?</a>
        </nav>
    </div>
    <div class="footer__copyright">
        <span>© 2019 Все права защищены</span>
        <button>Политика конфиденциальности</button>
    </div>
</footer>