<main class="main">
    <section class="mainWhy">
        <img class="mainWhy__img" src="./img/pawWhy.png" alt="">
        <h1>Почему мы?</h1>
        <div class="mainWhyContainer">
            <div class="mainWhyContainer__block">
                <img src="./img/icon.png" alt="">
                <h2>Комфортная температура</h2>
                <p>Во всех номерах поддерживается комфортная температура в пределах
                    23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.</p>
            </div>
            <div class="mainWhyContainer__block">
                <img src="./img/icon-1.png" alt="">
                <h2>Видеонаблюдение</h2>
                <p>Мы предоставляем доступ в нашу систему. Вы сможете следить
                    за своим питомцем со своего смартфона или компьютера.</p>
            </div>
            <div class="mainWhyContainer__block">
                <img src="./img/icon-2.png" alt="">
                <h2>Услуги Зоотакси</h2>
                <p>Мы приедем за вашим питомцем в любой район Санкт-Петербурга.</p>
            </div>
            <div class="mainWhyContainer__block">
                <img src="./img/icon-3.png" alt="">
                <h2>Сбалансированное питание</h2>
                <p>Вы можете привезти свой корм
                    или доверить рацион своего
                    питомца нашим профессионалам.</p>
            </div>
            <div class="mainWhyContainer__block">
                <img src="./img/icon-4.png" alt="">
                <h2>Ежедневные прогулки</h2>
                <p>По вашему желанию мы выгуливаем вашего питомца два раза в день
                    на специализированной закрытой территории.</p>
            </div>
            <div class="mainWhyContainer__block">
                <img src="./img/icon-5.png" alt="">
                <h2>Лучшие ветеринары</h2>
                <p>В гостинице 24 часа дежурит ветеринарный врач, который окажет любую помощь в случае необходимости.
                </p>
            </div>
        </div>
    </section>
    <section class="mainRooms">
        <img class="mainRooms__img" src="./img/fishRooms.png" alt="">
        <h1>Номера</h1>
        <div class="mainRoomsContainer">
            <div class="mainRoomsContainer__block">
                <img class="mainRoomsContainer__img" src="./img/catRooms.png" alt="">
                <div class="mainRoomsContainer__content">
                    <h2>Эконом плюс</h2>
                    <ul>
                        <li>
                            <p>Площадь - 0,90 м2</p>
                        </li>
                        <li>
                            <p>Размеры (ШхГхВ) — 90х100х180 см</p>
                        </li>
                        <li>
                            <p>Цена за сутки: 200₽</p>
                        </li>
                    </ul>
                    <button class="mainRoomsContainer__btn">Забронировать<img src="./img/pawRooms.png" alt=""></button>
                </div>
            </div>
            <div class="mainRoomsContainer__blockButtons">
                <div class="mainRoomsContainer__blockButtons--empty"></div>
                <div class="mainRoomsContainer__blockButtons--inputs">
                    <input type="button">
                    <input type="button">
                    <input type="button">
                </div>
                <div class="mainRoomsContainer__blockButtons--arrows">
                    <button>&#8249;</button><button>&#8250;</button>
                </div>
            </div>
        </div>
    </section>
    <section class="mainReviews">
        <img class="mainReviews__img" src="./img/pawReviews.png" alt="">
        <h1>Отзывы</h1>
        <div class="mainReviewsContainer">
            <div class="mainReviewsContainer__Block">
                <img src="./img/quotes.png" alt="">
                <p>Первый раз пришлось оставить нашего котика
                    в гостинице, очень переживали. Администратор Мария каждый день высылала нам фото нашего питомца,
                    рассказывала, как он себя чувствует.
                    И мы и котик остались очень довольны!</p>
                <div class="mainReviewsContainer__Block--name">
                    <span>Валерия Гришаева</span>
                    <span>15 ноября, 2019</span>
                </div>
            </div>
            <div class="mainReviewsContainer__Block">
                <img src="./img/quotes.png" alt="">
                <p>Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота, когда
                    уезжают. В “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую!
                    Будем обращаться еще.</p>
                <div class="mainReviewsContainer__Block--name">
                    <span>Екатерина Минаева</span>
                    <span>10 октября, 2019</span>
                </div>
            </div>
            <div class="mainReviewsContainer__Block">
                <img src="./img/quotes.png" alt="">
                <p>Мой кот — настоящая привереда, угодить ему сложно. У меня были особые требования к уходу за ним, и
                    “Котейка” отлично справились. Я часто наблюдал по видео за питомцем со своего телефона, это очень
                    удобно.</p>
                <div class="mainReviewsContainer__Block--name">
                    <span>Павел Нечаев</span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="mainReviewsContainer__blockButtons">
            <div class="mainReviewsContainer__blockButtons--empty"></div>
            <div class="mainReviewsContainer__blockButtons--inputs">
                <input type="button">
                <input type="button">
                <input type="button">
            </div>
            <div class="mainReviewsContainer__blockButtons--arrows">
                <button>&#8249;</button><button>&#8250;</button>
            </div>
        </div>
    </section>
    <section class="mainContacts">
        <div class="mainContactsContainer">
            <div class="mainContactsContainerInfoContainer">
                <h1>Как нас найти</h1>
                <div class="mainContactsContainerInfoContainer__block">
                    <h2>Адрес</h2>
                    <p>Санкт-Петербург,<br>ул Большая Конюшенная, д 19</p>
                </div>
                <div class="mainContactsContainerInfoContainer__block">
                    <h2>Режим работы</h2>
                    <p>Ежедневно, с 9:00 до 20:00</p>
                </div>
                <div class="mainContactsContainerInfoContainer__block">
                    <h2>Телефон</h2>
                    <p><a href="tel:8(800)333-55-99">8(800)333-55-99</a></p>
                </div>
                <div class="mainContactsContainerInfoContainer__block">
                    <h2>E-mail</h2>
                    <p><a href="mailto:info@cat-hotel.ru">info@cat-hotel.ru</a></p>
                </div>
                <div class="mainContactsContainerInfoContainer__block">
                    <h2>Социальные сети</h2>
                    <div class="mainContactsContainerInfoContainer__block--social">
                        <a href=""><img src="./img/facebook.png" alt=""></a>
                        <a href=""><img src="./img/inst.png" alt=""></a>
                        <a href=""><img src="./img/vk.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="mainContactsContainerMap"><img class="mainContactsContainerMap_map-cat" src="./img/map-cat.png"
                    alt=""><img class="mainContactsContainerMap_map" src="./img/map.png" alt="">
            </div>
        </div>
    </section>
</main>