.banner{
    &{
        background-image: url("../img/cat-banner.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__container{
        height: 504px;
        background: url("../img/banner-info.png");
        padding: 153px 0px 153px 198px;
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 30px;
        border: none;
        background: #FFFEFD;
        box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
        border-radius: 25px;
        font-family: "Lato-Semibold";
        font-weight: 600;
        line-height: 19px;
        font-size: 16px;
        cursor: pointer;
    }
    &__img{
        padding: 7px 7px 7px 20px;
    }
    .bannerInfo{
        & p:first-child{
            font-family: "Lato-Regular";
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 15px;
        }
        & h1{
            font-family: "Rubik-Bold";
            font-size: 62px;
            margin-bottom: 25px;
            line-height: 73px;
        }
        & p:last-child{
            font-family: "Lato-Medium";
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 40px;
        }
    }
}