@import "fonts.scss";
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1366px;
    margin: 0 auto;
}
h1,h2,p,a{
    color: #1A212F;
}
a{
    text-decoration: none;
}
@import "header.scss";
@import "banner.scss";
@import "mainWhy.scss";
@import "mainRooms.scss";
@import "mainReviews.scss";
@import "mainContacts.scss";
@import "footer.scss";